<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{authorization/fragments/layout}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Error</h1>
    <table>
        <tr>
            <td width="150px">Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Status Code</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
    </table>
</div>
</body>
</html>