<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Model Page</title>
</head>
<body>
<h1>Welcome to the Model Demo</h1>
<h2>
    <span>Name:  <th:block th:text="${name}">[name]</th:block></span> <br />
    <span>Language: <th:block th:text="${language}">[language]</th:block></span> <br />
    <span>Framework: <th:block th:text="${framework}">[framework]</th:block></span> <br />
    <span>Drink: <th:block th:text="${drink}">[drink]</th:block></span> <br />
    <span>Pants: <th:block th:text="${pants}">[pants]</th:block></span> <br />
    <span>Accessory: <th:block th:text="${accessory}">[accessory]</th:block></span> <br />
    <span>Song: <th:song th:text="${song}">[framework]</th:song></span> <br />

    <span><a th:href="@{/model-and-view-page}">Click here for the ModelAndView Page</a></span>
</h2>
</body>
</html>