<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Workout for Today!</title>
</head>
<body>
<h1>Full Body Workout</h1>
<h2>
    <span>Back: <th:block th:text="${back}">[back]</th:block></span> <br />
    <span>Chest: <th:block th:text="${chest}">[chest]</th:block></span> <br />
    <span>Legs: <th:block th:text="${legs}">[legs]</th:block></span> <br />
    <span>Shoulders: <th:block th:text="${shoulders}">[shoulders]</th:block></span> <br />
    <span>Arms: <th:block th:text="${arms}">[arms]</th:block></span> <br />
</h2>
</body>
</html>