<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <script type="text/javascript" th:src="@{/js/hello.js}" defer></script>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

</head>
<body>
<div align="center">
    <h2>Styled Heading</h2>
    <p>
        This is text on which we want to apply <strong>very special</strong> styling.
    </p>
    <button type="button" th:onclick="greeting()">Click Me!!</button>
</div>
</body>
</html>