<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>OAuth 2.0 Login With GitHub & Google</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div>
        <p>Hello, <strong th:text="${#authentication.name}"></strong>!</p>
        <p>Your authorities are: <strong th:each="authority : ${#authentication.authorities}"><span
                th:text="${authority.authority} + ' '"></span></strong></p>

        <div sec:authorize="hasRole('USER')" class="alert alert-primary" role="alert">
            This section is only visible only for ROLE_USER.
        </div>

        This section is visible to all users (including ANONYMOUS).

        <form sec:authorize="hasRole('ANONYMOUS')" method="get" th:action="@{/protected}">
            <input type="submit" class="btn btn-success mt-3" value="Login"/>
        </form>
        <form sec:authorize="hasRole('USER')" method="post" th:action="@{/logout}">
            <input type="submit" class="btn btn-danger mt-3" value="Logout"/>
        </form>

    </div>
</div>
</body>
</html>